$font-stack: Helvetica, sans-serif;
$primary-font-color: white;

@mixin mQ($arg){
  @media screen and (max-width: $arg){
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}

//main page
body {
  font: 100% $font-stack;
  color: $primary-font-color;
  background-color: black;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid white;
  img {
    width: 10vw;
    padding: 2vw;
  }
}

nav {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vw;
  padding-right: 4vw;
  font-size: 2vw;
  @include mQ(600px){
    font-size: 3.5vw;
    width: 60%;
  }
  a {
    text-decoration: none;
    color: $primary-font-color;
    &:hover {
      color: orange;
    }
  }
}

#timer {
  width: 100%;
  text-align: center;
  #box_header {
    font-size: 16vw;
    margin-top: 5vw;
  }
}

#body-background {
  height: 50vw;
  text-align: center;
  background-image:  linear-gradient(black, transparent), url("../assets/img/forest.jpg"),;
  background-size: cover;
  .release {
    font-size: 2vw;
    text-transform: uppercase;
  }
  p {
    font-size: 12vw;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
  }
}

#review {
  display: flex;
  justify-content: center;
  .div {
    width: 80%;
  }
  .quote {
    font-size: 8vw;
  }
  .reviewer {
    float: right;
    font-size: 4vw;
  }
  .star img{
    width: 5vw;
    margin-bottom: 2vw;
  }
}

footer {
  margin-top: 15vw;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  .social-media {
    height: 20vw;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    img {
      width: 4vw;
      margin-bottom: 4vw;
    }
    img:nth-child(1) {
      margin-top: 6px;
    }
  }
}//end main page


//about page
#brogrammers {
  width: 80%;
  margin: 10% 10% 0 10%;
  @include mQ(800px) {
    width: 95%;
    margin: 10% 2.5% 0 2.5%;
  }
  h1 {
    @include mQ(800px) {
      text-align: center;
    }
  }
  .bro {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    @include mQ(800px) {
      flex-direction: column;
      align-items: center;
    }
    img {
      width: 20%;
      height: 15vw;
      border-radius: 10vw;
      border: 1vw solid white;
      @include mQ(800px) {
        width: 40%;
        height: 35vw;
        border-radius: 20vw;
      }
    }
    .name {
      margin-left:  2vw;
      width: 70%;
    }
    p {
      font-size: 2vw;
      @include mQ(800px){
        font-size: 4vw;
      }
    }
  }
  h1 {
    font-size: 4vw;
  }
}//end about page


//reviews page
#reviews {
  h1 {
    margin: 10% 0 0 10%;
    font-size: 6vw;
  }
  .review {
    margin: 10%;
  }
  p {
    padding: 5px 0;
    font-size: 3vw;
    @include mQ(600px) {
      font-size: 4vw;
    }
  }
  img {
    width: 4vw;
  }
}
